/*公共样式*/
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-style: normal;
}

body, html {
    font-size: 16px;
    font-family: "宋体";
    color: #333;
}

img {
    border: none;
    /*width: 100%;*/
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*header导航部份*/
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar {
    /*position: relative;*/
    /*min-height: 50px;*/
    margin-bottom: 0;
    border: none;
    overflow-x: hidden;
}

.header {
    padding: 3% 0;
}

.header .logo {
    float: left;
    cursor: pointer;
}

.header .header-nav {
    float: right
}

.header .header-nav ul li {
    text-align: center;
    border-bottom: 3px solid transparent;
    margin-right: 10px;
}

.header .header-nav ul li a {
    display: inline-block;
    padding: 0 20px;
    line-height: 47px;
    color: #666;
    font-size: 18px;
}

.header .header-nav ul li:hover, .header .header-nav ul li.show {
    border-bottom: 3px solid #333;
    font-weight: bold;
    color: #333;
}

.header .my-language {
    float: right;
    /*margin: 12px 0 10px 20px;*/
    margin: 12px 15px 0 0;
}

.header .my-language select {
    border: 1px solid #e0e0e0;
    color: #e0e0e0;
    height: 22px;
    width: 62px;
    font-size: 14px;
    outline: none;
}

/*index-banner首页焦点图*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.index-banner {
    width: 100%;
    position: relative;
}

.index-banner .index-banner-bg {
    width: 100%;
}

.index-banner .carousel-inner .carousel-caption {
    /*background: pink;*/
}

.index-banner .carousel-inner .carousel-caption img {
    /*float: left;*/
}

.index-banner .carousel-inner .carousel-caption .txt {
    width: 50%;
    /*float: right;*/
    /*background: red;*/
    padding-top: 100px;
    color: #333;
}

.index-banner .carousel-inner .carousel-caption .txt h3 {
    font-size: 32px;
    margin-bottom: 50px;
}

.index-banner .carousel-inner .carousel-caption .txt p {
    font-size: 18px;
    line-height: 30px;
}

.index-banner .carousel-inner .txt-3 {
    /*width: 100%;*/
    background: red;
    text-align: center;
}

.index-banner .carousel-inner .txt-3 .p1 {
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    left: 200px;
    top: -300px;
}

.index-banner .carousel-inner .txt-3 .p2 {
    font-size: 22px;
    position: absolute;
    left: 300px;
    top: -200px;
}

.index-banner .carousel-inner .txt-3 .p3 {
    font-size: 18px;
    position: absolute;
    left: 400px;
    top: -100px;
}

.index-banner .carousel-inner .txt-4 {
    width: 100%;
    background: red;
}

.index-banner .carousel-inner .txt-4 h3 {
    width: 100%;
    height: 300px;
}

/*index-main*/
.index-main {
    text-align: center;
    margin-bottom: 100px;
}

.index-main .item {
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}

.index-main .item .scale {
    transition: all 1s ease-in-out;
}

.index-main .item:hover img {
    transform: scale(1.2, 1.2);
}

.index-main .item .txt {
    width: 300px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -75px;
    background: pink;
    text-align: center;
}

.index-main .txt h3 {
    margin-bottom: 60px;
}

.index-main .txt a {
    display: inline-block;
    width: 200px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #000;
}

/*footer脚部份*/
.footer {
    margin: 100px auto;
    text-align: center;
}

.footer-top img {
    width: 20%;
}

.footer-cen {
    margin: 100px 0 50px 0;
    font-size: 14px;
    line-height: 30px;
}

.footer-cen .p1 {
    margin-bottom: 20px;
}

.footer-icon img {
    width: 5%;
    margin: 0 50px;
}

.footer-bom {
    margin-top: 50px;
    font-size: 14px;
    line-height: 30px;
}

/*three第三代车锁页面*/
.three_wrap {
    text-align: center;
}

.three_item {
    width: 100%;
    /*background: red;*/
    margin: 0 auto;
}

.three_item .title {
    font-size: 28px;
    font-weight: bold;
    margin: 50px auto;
}

.three_item .txt {
    font-size: 18px;
    line-height: 30px;
    padding: 0 100px;
}

.roundabout-holder {
    width: 100%;
    height: 700px;
    margin: 0 auto;
}

.roundabout-moveable-item {
    width: 500px;
    height: 300px;
    cursor: pointer;
    border: 3px solid #ccc;
    border: 3px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.roundabout-moveable-item img {
    width: 100%;
}
/*.history{*/
    /*width: 100%;*/
    /*margin-bottom: 100px;*/
/*}*/
.history .title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 50px auto;
}
.history li{
    height: 450px;
    border: 1px solid #000;
    text-align: center;
}

.progress{
    height: 100px;
    background: #ffffff;
    border-color: #ffffff;
    /*padding: 100px auto;*/
    text-align: center;
    position: relative;
}
.progress p{
    font-size: 20px;
    margin: 40px auto;
}
#fountainG{
    position: absolute;
    top: 55%;
    left: 55%;
}
#fountainG li {
    background: #000000;
    position: absolute;
    top: 0;
    width: 5px;
    height: 5px;
    animation: bounce_fountainG 1.2s linear infinite;
    transform: scale(.3);
    border-radius: 19px;
}

#fountainG li:first-child {
    left: 0;
    -moz-animation-delay: 0.48s;
    -webkit-animation-delay: 0.48s;
    -ms-animation-delay: 0.48s;
    -o-animation-delay: 0.48s;
    animation-delay: .48s;
}

#fountainG li:nth-child(2) {
    left: 10px;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

#fountainG li:nth-child(3) {
    left: 20px;
    -moz-animation-delay: 0.72s;
    -webkit-animation-delay: 0.72s;
    -ms-animation-delay: 0.72s;
    -o-animation-delay: 0.72s;
    animation-delay: 0.72s;
}

#fountainG li:nth-child(4) {
    left: 30px;
    -moz-animation-delay: 0.84s;
    -webkit-animation-delay: 0.84s;
    -ms-animation-delay: 0.84s;
    -o-animation-delay: 0.84s;
    animation-delay: 0.84s;
}

#fountainG li:nth-child(5) {
    left: 40px;
    -moz-animation-delay: 0.96s;
    -webkit-animation-delay: 0.96s;
    -ms-animation-delay: 0.96s;
    -o-animation-delay: 0.96s;
    animation-delay: 0.96s;
}

#fountainG li:nth-child(6) {
    left: 50px;
    -moz-animation-delay: 1.08s;
    -webkit-animation-delay: 1.08s;
    -ms-animation-delay: 1.08s;
    -o-animation-delay: 1.08s;
    animation-delay: 1.08s;
}
/*这里是定义动画函数，很简单就是从1倍减小到0.3倍。*/

@keyframes bounce_fountainG {
    0% {
        transform: scale(.5);
        background-color: #000000;
    }
    100% {
        transform: scale(.3);
        background-color: #bbb;
    }
}


/*app2页面*/
.app2-banner{
    /*background: red;*/
    margin: 10px auto;
}
.app2-banner .txt{
    width: 300px;
    height: 500px;
    background: pink;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%)*/
}
.app2-main .item{
    height: 400px;
}
.app2-main .fl{
    width: 40%;
}
.app2-main .txt{
    width: 40%;
}
.app2-main .txt h3{
    margin-top: 100px;
    font-weight: bold;
}
.app2-main .txt h4{
    margin-top: 20px;
    line-height: 30px;
}
.app2-main .txt p{
    margin-top: 20px;
    line-height: 30px;
}

.h3{
    margin: 50px auto;
    font-size: 28px;
    text-align: center;
}
.app2-main .item{
    text-align: center;
    width: 33.33%;
    height: 500px;
    /*background: pink;*/
    border-radius: 50%;
}

/*cms管理页面*/
.cms-banner{
    background: url("../images/join-us-banner.png") no-repeat top center;
}
.cms-banner .cms-txt{

}


/*about-us*/
.about-us-banner {
    position: relative;
}

.about-us-banner img {
    width: 100%;
}

.about-us-main {
    padding: 0 45px;
}

.about-us-main h2 {
    width: 506px;
    height: 101px;
    background: url("../images/Enjoy-lg.png") no-repeat left top;
    margin: 60px 0 30px 0;
}

.about-us-main p {
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 30px;
}

.about-us-main .about-us-main-img {
    padding-bottom: 50px;
}

.about-us-main .about-us-main-img img {
    width: 100%;
}

/*app*/
.app-banner {
    /*background: url("../images/app-index-banner19.jpg") no-repeat top center;*/
    width: 100%;
    /*height: 818px;*/
    /*background-size: cover;*/
    /*text-align: center;*/
    position: relative;
}

.app-banner .app {
    position: absolute;
    left: 13%;
    top: 40%;
    /*font-size: 100px;*/
}

.app-banner .app p {
    font-size: 22px;
    /*font-weight: bold;*/
}

.app-banner .app img {
    width: 80%;
    animation: fadeInDown 2s ease 0s 1 both;
}

.app-banner img {
    width: 100%;
}

.app-main {
    padding-bottom: 60px;
}

.app-main h3 {
    /*font-size: 18px;*/
    font-weight: bold;
    padding-top: 80px;
}

.app-main h5 {
    font-weight: bold;
    font-size: 16px;
    padding-top: 45px;
}

.app-main p {
    color: #666;
    font-size: 14px;
    line-height: 25px;
    padding-top: 20px;
}

/*join-us*/
.join-us-banner img {
    width: 100%;
}

.join-us-main h1 {
    font-size: 36px;
    padding-top: 120px;
    padding-bottom: 50px;
    color: #0f2829;
    font-weight: 900;
}

.join-us-main p {
    line-height: 40px;
    padding-bottom: 140px;
    font-size: 16px;
    color: #0f2829;
}

.join-us-main dl {
    cursor: pointer;
    padding-bottom: 15px;
}

.join-us-main dd {
    margin-top: 15px;
}

.join-us-main .join-us-main-btn {
    font-size: 18px;
    line-height: 38px;
    width: 180px;
    border: 1px solid #e4e4e4;
    background: #fff;
    border-radius: 20px;
    margin: 88px auto 100px;
    color: #666;
    cursor: pointer;
}

.join-us-main .join-us-main-btn:hover {
    border: 1px solid #0D4C8A;
    color: #0D4C8A;
    font-weight: bold;
    /*color: #ffffff;*/
}

.join-us-main .join-us-main-share {
    width: 180px;
    margin: 0 auto;
    padding-bottom: 95px;
}



